*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
.header-note{
    background-color: yellow;
    padding: 20px;
    text-align: center;
}
/* banner */
.banner{
    padding: 50px;
    background-color: rgb(47, 154, 118);
    color: white;
    text-align: center;
}
.banner-title{
    font-size: 40px;
    margin-bottom: 20px;
}
.menu{
    background: #000000bf;
    padding: 15px;
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
/* body */

.row{
    display: flex;
}
.sidebar{
    padding: 20px;
    background: lightgray;
}
h3{
    font-size: 25px;
    margin-bottom: 15px;
}
h5{
    margin-bottom: 15px;
}
img{
    margin-bottom: 15px;
    width: 100%;
    object-fit: cover;
}
p{
    margin-bottom: 15px;
}
.content{
    padding: 20px;
}
footer{
    background-color: rgba(211, 211, 211, 0.587);
    padding: 20px;
    text-align: center;
}